
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";

	var lista = ViewBag.Lista;
	var listaMoneda = ViewBag.ListaMoneda;
	var listaEstado = ViewBag.ListaEstado;
}

<h2>Ordenes de pago</h2>

@Html.ActionLink("Nuevo", "Form")
<table>
	<tr>
		<th>Id</th>
		<th>Monto</th>
		<th>Moneda</th>
		<th>Estado</th>
		<th>Fecha de pago</th>
		<th>Sucursal</th>
	</tr>
	@foreach (var item in lista)
	{
	<tr>
		<td>@item.Id</td>
		<td>@item.Monto</td>
		<td>@listaMoneda[item.Moneda]</td>
		<td>@listaEstado[item.Estado]</td>
		<td>@item.FechaDePago</td>
		<td>@item.Sucursal.Nombre</td>
	</tr>
	}
</table>